@media only screen and (max-width: 800px) {
    .smallScreen1 .smallScreen
    {
        display: none
       
    }
    .smallScreen2
    {
        z-index: 2;
        
    }
    .smallScreen0 .smallScreen1{
        display: none;
    }
    .header
    {
        display: flex;
        flex-direction: row ;
        background-color: rgba(151, 203, 233, 0.253);
        padding: 10px;
        justify-content: space-around;
       
    }
    .header2
    {
        background-color: rgba(151, 203, 233, 0.253);
        height: 50vh;
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:60px;
    }
   
    .header3
    {
        display: none;
    }
}
