.firstBox .truncate-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white !important;
    max-width: 50%; /* You can adjust the max-width as needed */
  }